.title {
  text-align: center;
}
.subtitle {
  text-align: center;
  font-size: 23px;
}

@media screen and (max-width: 500px){
  .title {
    font-size: 25px;
  }
  .subtitle{
    font-size: 18px;
    max-width: 200px;
  }
}