.icon {
  &__copy {
    margin-right: 10px;
  }
}
.partners {
  &__link {
    display: flex;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  &__icon{
    width: 30px;
    margin-right: 20px;
  }
  &__table{
    &__rowTokens{
      display: flex;
      align-items: center;
    }
    &__rowAmount{
      text-align: right;
    }
    &__rowButton{
      text-align: right;
    }
  }
}